<a href="https://colab.research.google.com/github/michalis0/Business-Intelligence-and-Analytics/blob/master/2%20-%20Pandas%20and%20Python/Exercices/Exercices/Exercise_1_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1

In [1]:
import pandas as pd

##Question 1
We will work on one dataset.
With the function `pd.read_csv()`, load the file: `google-play-store-apps/googleplaystore_user_reviews.csv`.

The URL you need is: https://media.githubusercontent.com/media/michalis0/Business-Intelligence-and-Analytics/master/data/google-play-store-apps/googleplaystore_user_reviews.csv

Normally CSV files are separated by commas, but this one is separated by ";". Use the argument `sep=";"` to let Pandas know that the values are separated by ";".

In [4]:
#Load the googleplaystore_user_reviews.csv file
googleplaystore_user_reviews = pd.read_csv('https://media.githubusercontent.com/media/michalis0/Business-Intelligence-and-Analytics/master/data/google-play-store-apps/googleplaystore_user_reviews.csv', sep=';')

##Question 2
Chek the data (googleplaystore_user_reviews) by using the following functions:
* `.head()`(beginning of the list)
* `.tail()` (end of the list)
* `.columns` (column names)
* `.index` (raw identifier)
* `.dtypes` (column types)

In [5]:
#Beginning of the list
print('Beginning of the list:')
googleplaystore_user_reviews.head()

Beginning of the list:

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.0,0.5333333333333333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.28846153846153844
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.4,875
4,10 Best Foods for You,Best idea us,Positive,1.0,0.3

In [ ]:
#End of the list
print('End of the list:')
googleplaystore_user_reviews.tail()

End of the list:

                               App  ... Sentiment_Subjectivity
64290  Houzz Interior Design Ideas  ...                    NaN
64291  Houzz Interior Design Ideas  ...                    NaN
64292  Houzz Interior Design Ideas  ...                    NaN
64293  Houzz Interior Design Ideas  ...                    NaN
64294  Houzz Interior Design Ideas  ...                    NaN

[5 rows x 5 columns]

In [ ]:
#Column names
print('Column names:')
googleplaystore_user_reviews.columns

Column names:

Index(['App', 'Translated_Review', 'Sentiment', 'Sentiment_Polarity',
       'Sentiment_Subjectivity'],
      dtype='object')

In [ ]:
#Raw identifier
print('Raw identifier:')
googleplaystore_user_reviews.index

Raw identifier:

RangeIndex(start=0, stop=64295, step=1)

In [ ]:
#Column types
print('Column types:')
googleplaystore_user_reviews.dtypes

Column types:

App                       object
Translated_Review         object
Sentiment                 object
Sentiment_Polarity        object
Sentiment_Subjectivity    object
dtype: object

##Question 3

Remember that each column/attribute of our data may have different attribute types. Have a look at the following table to recall the different DataTypes in Pandas and Python (it is the same as in the walkthrough).

| Pandas dtype  | Python type  | NumPy type|Usage
| :--- | :--- | :--- | :--- |
| object| str or mixed | string_, unicode_, mixed types| Text or mixed numeric and non_numeric values |
| int 64| int| int_, int8, int16, int32, int64, uint8, uint18, uint32, uint64 | Integer numbers i.e. [1,2,3,...] |
| float64| float| float_, float15, float32, float64 | Floating point numbers (They contain decimal points) |
| bool| bool|bool_| True/False values|
| datetime64 | NA | datetime64[ns]     | Date and time values  |
| timedelta[ns] | NA  | NA| Differences between two datetime|
| category | NA| NA| Finite list of text values|

Use the following cells to convert each column to the required dtype:

In [ ]:
#Convert Sentiment to categorical
googleplaystore_user_reviews['Sentiment'] = googleplaystore_user_reviews['Sentiment'].astype('category')

In [ ]:
#Sentiment_Polarity to numeric
googleplaystore_user_reviews['Sentiment_Polarity'] = pd.to_numeric(googleplaystore_user_reviews['Sentiment_Polarity'], errors='coerce')

In [ ]:
#Sentiment_Subjectivity to numeric
googleplaystore_user_reviews['Sentiment_Subjectivity'] = pd.to_numeric(googleplaystore_user_reviews['Sentiment_Subjectivity'], errors='coerce')

Now lets have a look at the dtypes:

In [ ]:
#Column types
print('Column types:')
googleplaystore_user_reviews.dtypes

Column types:

App                         object
Translated_Review           object
Sentiment                 category
Sentiment_Polarity         float64
Sentiment_Subjectivity     float64
dtype: object

# Part 2

##Question 4
Note that there exist some null values. For each dataframe, count the number of null values by using: `.isnull()` and `.sum()`. Drop the null values if there exist. Print the shape of your dataframes before and after the cleaning process: `.shape`. How many data was deleted ?

**Solution:**

In [ ]:
#First, we want to see the DataFrame's size (use .size)
googleplaystore_user_reviews.size

321475

In [ ]:
#Let's count the number of null values per column (use .isnull() and .sum())
googleplaystore_user_reviews.isnull().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26929
Sentiment_Subjectivity    26873
dtype: int64

In [ ]:
#Now we store the number of rows of the original Dataframe
nb_rows = len(googleplaystore_user_reviews)

In [ ]:
#We can drop the rows that have a null value in them with .dropna()
googleplaystore_user_reviews = googleplaystore_user_reviews.dropna()

In [ ]:
#Take a look at the new DataFrame, without any null values with .head()
googleplaystore_user_reviews.head()

                     App  ... Sentiment_Subjectivity
0  10 Best Foods for You  ...               0.533333
1  10 Best Foods for You  ...               0.288462
3  10 Best Foods for You  ...             875.000000
4  10 Best Foods for You  ...               0.300000
5  10 Best Foods for You  ...               0.300000

[5 rows x 5 columns]

In [ ]:
#Check the size again, did it change?
googleplaystore_user_reviews.size

186795

In [ ]:
#How many rows did we delete? (remember what you stored before dropping the null values)
print('We deleted', nb_rows - len(googleplaystore_user_reviews), 'rows!')

We deleted 26936 rows!

##Question 5
We will now apply some selections/filters on the `google_playstore_user_reviews.csv` DataFrame: 

* filter  the data reviews where the Sentiment_Subjectivity mean  > 0.5 , use: `grouby()`, `mean()` and `where()`  
* select the 10 best reviewed apps, use `.sort_values()`  
* select the genres that have the highest rating  mean: use `groupby()`, `mean()`and `sort_values()`
    
**Solution:**

In [ ]:
#Take the mean of each App's Sentiment_Subjectivity
grouped_mean = googleplaystore_user_reviews.groupby('App')['Sentiment_Subjectivity'].mean()
grouped_mean

App
10 Best Foods for You                                 50.187980
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室                       0.545516
11st                                                  10.061110
1800 Contacts - Lens Store                            36.804848
1LINE – One Line with One Touch                       41.306000
                                                        ...
Hotels.com: Book Hotel Rooms & Find Vacation Deals     0.545444
Hotspot Shield Free VPN Proxy & Wi-Fi Security         0.393284
Hotstar                                               33.273652
Hotwire Hotel & Car Rental App                        45.566081
Housing-Real Estate & Property                        53.896389
Name: Sentiment_Subjectivity, Length: 865, dtype: float64

In [ ]:
#Only keep the Apps with a mean higher than 0.5
grouped_mean_higher = grouped_mean.where(grouped_mean > 0.5)
#There are some rows with null values, drop them
good_apps = grouped_mean_higher.dropna()

In [ ]:
#Let's look at what we have (use .head())
good_apps.head()

App
10 Best Foods for You               50.187980
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室     0.545516
11st                                10.061110
1800 Contacts - Lens Store          36.804848
1LINE – One Line with One Touch     41.306000
Name: Sentiment_Subjectivity, dtype: float64

In [ ]:
#All that is left to do is to select the 10 Apps with the highest SentimentSubjectivity
good_apps.sort_values(ascending=False)[:10]

App
CM Browser - Ad Blocker , Fast Download , Privacy     312.875000
Brightest Flashlight Free ®                           252.270452
Call Control - Call Blocker                           208.416667
Anger of stick 5 : zombie                             175.327778
Baby Panda’s Juice Shop                               175.316667
Buscapé - Ofertas e descontos                         165.320979
DIY On A Budget                                       141.325810
Dictionary - Merriam-Webster                          137.824821
Free TV Shows App:News, TV Series, Episode, Movies    130.325725
Calls & Text by Mo+                                   129.583333
Name: Sentiment_Subjectivity, dtype: float64