<a href="https://colab.research.google.com/github/michalis0/Business-Intelligence-and-Analytics/blob/master/personal_assignment/BIA_assignment_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Business Intelligence and Analytics - Assignment 2022


Welcome to the Assignment! 

You have to complete this notebook to find the answers to the 10 questions below. We already provide some initial code to read in the data from the data subfolder.

In order to receive a grade and properly submit the assignment, you will have to do **both** steps mentioned below. Both of these must be done on the Moodle page, right under the forums.

* Answer the [questions on the quiz](https://moodle.unil.ch/mod/quiz/view.php?id=1234974).
* Submit your [notebook](https://moodle.unil.ch/mod/assign/view.php?id=1282597).

**The bonus for this assignment is binary. You get the full bonus or nothing. To reveive the full bonus you need to answer correctly 7 questions out of the 10 (i.e. more than 65% of the quiz points).**

Make sure to follow all instructions carefully.

Good luck! üçÄ

**Note**: Have your notebook with the asnwers ready for answering the quiz. 

**Questions**: You can post your [questions in Moodle in the dedicated forum here](https://moodle.unil.ch/mod/forum/view.php?id=1207935). No questions will be answered by email.

## Part 1. Data Cleaning

First a few preliminary steps to set you up. You can execute the cells below to get you started.

In [ ]:
# Import required packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# Load the data
df=pd.read_csv('https://media.githubusercontent.com/media/michalis0/Business-Intelligence-and-Analytics/master/data/sales.csv')

# Visualise first 3 rows
df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62

For the first part we use data on the retail sales of a store over several years. The dataset includes information on items purchased from this store, including for each item or article:

* order ID: a unique identifyier of the order through which this item was purchased
* order date: date of the order
* ship date: date the shipment was made
* ship mode: mode of shipment used (first class, second class, etc.)
* customer ID: unique identifyier of the client
* customer name
* client segment: consumer, corporate, etc.
* country, city, state, postal code, region of the client
* product ID, product category, sub-category, and product name
* sales: the value of sales for a given purchased item in USD.

### Question 1. üî¢ How many observations (rows) and columns does the dataset contain?

In [ ]:
# YOUR CODE HERE

Now please check what are the data types of the different attributes (columns).

In [ ]:
# YOUR CODE HERE

Change the data type for the following columns: Order Date and Ship Date: from string to datetime.

**Hint**: make sure that days, month, year are encoded correctly. For this you can check what the date looks like before and after the encoding.

In [ ]:
# YOUR CODE HERE

Drop missing values for Postal code and change the data type from numeric (float) to categorical.

In [ ]:
# YOUR CODE HERE

### Question 2. üïì For which order period have these data samples been collected? (i.e, what is the oldest and the most recent `order date` in the dataset)

In [ ]:
# YOUR CODE HERE

### Question 3. üßç How many unique customers did the shop have over the entire period? 
**Hint**: look at `customer id` and count the unique values.

In [ ]:
# YOUR CODE HERE

### Question 4. ‚≠ê What are the 5 most frequently bought product sub-categories ? 
**Hint**: look at `sub-category` and count the times different categories appear in the dataset.

In [ ]:
# YOUR CODE HERE

### Question 5. üöö Create a new column storing the time difference between `Ship Date` and `Order Date`, call it `Delivery Time`. What was the longest and the shortest delivery time in days?

In [ ]:
# YOUR CODE HERE

## Part 2. Classification
For the second part, we will use an employee retention dataset.   
The dataset contains information on a company's employees such as:

* satisfaction level, ranges from 0 to 1
* score of the last evaluation they received, ranges from 0 to 1
* number of projects in which the employee is involved 
* average number of hours worked per month
* years spent with the company
* whether they experienced a work accident (1 if yes, 0 if no)
* whether they left thier job (1) or stayed with the company (0)
* whether they received a promotion in the last 5 years (1 if yes, 0 if no)
* the department in which they work
* whether their salary was low, medium or high.


### Load the data

In a first step, load the dataset (`HR_comma_sep.csv`) and display the first few rows. You can find the corresponding url and code below.

In [ ]:
# YOUR CODE HERE

In [ ]:
# Load data
df=pd.read_csv('https://media.githubusercontent.com/media/michalis0/Business-Intelligence-and-Analytics/master/data/HR_comma_sep.csv')
df.head(3)

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spent_company,work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium

Your task is to build a model that predicts whether an employee stays (0) or leaves the company (1), using column `left` and the following 8 columns for your prediction: `satisfaction_level`, `last_evaluation`, `number_project`, `average_monthly_hours`, `time_spent_company`, `work_accident`, `promotion_last_5years`, and the label-encoded salary, which you obtain following the guiding steps below.

As a first step you may want to import any additional packages if not already done.

In [ ]:
# YOUR CODE HERE

In [ ]:
# import some additional packages
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn. preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.neighbors import KNeighborsClassifier

# set the random seed
np.random.seed = 42

‚úÖ Please note for all following questions we ask you to set the random seed to 42. So please make sure you run the code in the cell above `np.random.seed=42`.

### Question 6. üíº What is the proportion of employees who stayed on their job (in the entire dataset)?  
**Hint**: you should use the `left` column and just divide the number of employees who stayed on their job (left=0) by the total number of observations. Round to *two decimals*. e.g.: 0.6194 should be rounded to 0.62.

In [ ]:
# YOUR CODE HERE

The next step is to encode categorical variables. First encode `salary` with a simple LabelEncoder (just choose the automatic labelling given by the sklearn label encoder).

In [ ]:
# YOUR CODE HER

Now replace the encoded `salary` in the initial dataframe and drop the department column. You can use the `pd.concat` function to add a column and `pd.drop` function to remove the old columns `salary` and `department`. 
> Hint: You should have a total of 9 features in the revised dataset.

In [ ]:
# YOUR CODE HERE

Set the y and X variables for your model, using `left` as the dependent variable and the following 8 independent variables: `satisfaction_level`, `last_evaluation`, `number_project`, `average_monthly_hours`, `time_spent_company`, `work_accident`, `promotion_last_5years`, and the label-encoded salary.

In [ ]:
# YOUR CODE HERE

Train/test splitting: Now split the data into 80% training and 20% test set. Remember to set the `random_state` to 42.

In [ ]:
# YOUR CODE HERE

Train a Logistic Regression model with cross validation. Use the following parameters for Logistic Regression.  
`LogisticRegressionCV(solver='lbfgs', cv=5, max_iter=1000, random_state=42)`

In [ ]:
# YOUR CODE HERE

### Question 7. üîÆ What is the test accuracy score for the logistic regression model with CV trained above? Round to *two decimals*. e.g.: 0.6194 should be rounded to 0.62.

In [ ]:
# YOUR CODE HERE

Plot the confusion matrix for the logistic regression model.

In [ ]:
# YOUR CODE HERE

### Question 8. üõ´ Looking at the confusion matrix for the model trained above, how many employees are predicted to leave by the model **in the test set**?  
**Hint**: looking at the confusion matrix add up the number of employees predicted to leave and who actually left and the number of employees predicted to leave and who actually stayed.

In [ ]:
# YOUR CODE HERE

Train a model using a K-Nearest Neighbours (KNN) algorithm, setting `knn = KNeighborsClassifier(n_neighbors=3)`. Use the same features as in the previous model and the same train-test-split as before.

In [ ]:
# YOUR CODE HERE

### Question 9. üîÆ What is the test accuracy score for the KNN  model? Round to *two decimals*. e.g.: 0.6194 should be rounded to 0.62.

In [ ]:
# YOUR CODE HERE

Plot the confusion matrix for the KNN model.

### Question 10. ü•á Try to improve the predictive model and obtain a better accuracy score on the same test set. What is the best **test accuracy** score you obtain? Round to *two decimals*. e.g.: 0.6194 should be rounded to 0.62. Very briefly explain what you did to improve the model.

**Hint**: example of possible ideas that might work on their own or in combination: apply standardisation, encode the department variable for example with a one-hot encoder and add it to your model, encode salary as an ordinal variable (with the 0 label for the lowest income), use a decision tree classifier.

In [ ]:
# YOUR CODE HERE